.ContactForm {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputLabel:first-child {
  margin-left: 17px;
}

.inputLabel input {
  max-width: 350px;
  width: 100%;
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
}

.inputLabel input:focus {
  border-color: #7f16bf;
}

.formButton {
  align-self: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #7f16bf;
  color: aliceblue;
  cursor: pointer;
  max-width: 150px;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}

.formButton:hover {
  background-color: #12c01d;
}
