.filterContainer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 70px;
  display: flex;
  justify-content: center;
}

.filterContainer input {
  max-width: 350px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
}

.filterContainer input:focus {
  border: 1px solid #7f16bf;
}
